div.home,div.mymusic,div.friends{
	position: relative;
	height: 563px;
}
div.home img,div.mymusic img,div.friends img{
	padding-top: 100px;
	display: block;
	margin: 0 auto;
	width: 600px;
	height: 200px;
}
div.home img.loginbtn{
	position: absolute;
	top:150px;
	left: 455px;
	width: 125px;
	height: 35px;
}
