<div class="showrole">
	<div class="bgsky">
		<img src="img/bgsky.jpg" alt="" />
	</div>
	
	<div class="introduce">
		<p>火光熠熠</p>
		<p>她们要么合而战,要么散而陨。回顾第一只星之守护者小队的初次亮相 :</p>
		<span><a href="http://lol.qq.com/act/a20170904star/?e_code=356310&atm_cl=ad&atm_pos=16602&idata_id=149758" target="_blank">星之守护者</a></span><strong>"&nbsp;金克斯、迦娜、露露、拉克丝、波比&nbsp;"&nbsp; </strong>
	    <button  type="button" data-toggle="modal" data-target=".bs-modal-lg">海报来袭</button>
	    <!--模态框-->
	    <div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			  <!--样式调节-->
			  <div class="modal-dialog modal-lg" role="document" style="width: 500px;">
			    <!--模态框内容-->
			    <div class="modal-content">
			    	<!--模态框标题-->
			        <div class="modal-header" style="background-color: #242424;color: #fff;">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><strong style=" color:#6b5024;font-size: 40px;" aria-hidden="true">&times;</strong></button>
				        <h4 class="modal-title" style="font-weight: bold;
             text-shadow: 0 0 35px #f59c32, 0 0 55px rgba(255,255,255,0.3); ">星光守护者海报</h4>
				    </div>
				    <!--模态框主体内容主体-->
				    <div class="modal-body">
			            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
								    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
								    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
								    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
								    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
								</ol>
								
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
								    <div class="item active">
									      <img src="img/wp-janna.jpg" alt="...">
									      <div class="carousel-caption">
									            <h3>迦娜</h3>
	                                            <p>- 风之化身听候您的差遣 -</p>
									      </div>
								    </div>
								    <div class="item">
									      <img src="img/wp-jinx.jpg" alt="...">
									      <div class="carousel-caption">
									            <h3>金克斯</h3>
	                                            <p>- 我会给你们数到3的时间,3！ -</p>
									      </div>
								    </div>
								    <div class="item">
									      <img src="img/wp-lulu.jpg" alt="...">
									      <div class="carousel-caption">
									            <h3>露露</h3>
	                                            <p>- 绝对不要看，眼睛里的郁金香 -</p>
									      </div>
								    </div>
								    <div class="item">
									      <img src="img/wp-lux.jpg" alt="...">
									      <div class="carousel-caption">
									            <h3>拉克丝</h3>
	                                            <p>- 你们这种战斗力,我建议你们还是投降算了 -</p>
									      </div>
								    </div>
								    <div class="item">
									      <img src="img/wp-poppy.jpg" alt="...">
									      <div class="carousel-caption">
									            <h3>波比</h3>
	                                            <p>- 我不是跟你有仇,但我必须把你砸扁 -</p>
									      </div>
								    </div>								    
								</div>
								
								<!-- Controls -->
								<i class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
								    <span class="iconfont" style="font-size: 35px;line-height:264px;" aria-hidden="true">&#xe601;</span>
								    <span class="sr-only">Previous</span>
								</i>
								<i class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
								    <span class="iconfont" style="font-size: 35px;line-height:264px;" aria-hidden="true">&#xe600;</span>
								    <span class="sr-only">Next</span>
								</i>
						</div>                     
			       </div>
			    </div>
			  </div>
		</div>
	</div>
	
	<div class="stage">
		<div class="janna">
			<div class="highlightjanna_top">
				<img src="img/highlight-janna.png" alt="迦娜" />
			</div>
			<div class="ele">
				<div></div>
				<span><a href="http://daoju.qq.com/lol/item/6048.shtml?ver=new" target="_blank">守护者迦娜</a></span>
			</div>
		</div>
		
		<div class="jinx">
			<div class="highlightjinx_top">
				<img src="img/highlight-jinx.png" alt="jinx" />
			</div>
			<div class="ele">
				<div></div>
				<span><a href="http://daoju.qq.com/lol/item/6047.shtml?ver=new" target="_blank">守护者金克斯</a></span>
			</div>			
		</div>
		
		<div class="lulu">
			<div class="highlightlulu_top">
				<img src="img/highlight-lulu.png" alt="露露" />
			</div>
			<div class="ele">
				<div></div>
				<span><a href="http://daoju.qq.com/lol/item/6049.shtml?ver=new" target="_blank">守护者露露</a></span>
			</div>			
		</div>
		
		<div class="lux">
			<div class="highlightlux_top">
				<img src="img/highlight-lux.png" alt="莎拉" />
			</div>
			<div class="ele">
				<div></div>
				<span><a href="http://daoju.qq.com/lol/item/2919.shtml?ver=new" target="_blank">守护者拉克丝</a></span>
			</div>			
		</div>
		
		<div class="poppy">
			<div class="highlightpoppy_top">
				<img src="img/highlight-poppy.png" alt="波比" />
			</div>
			<div class="ele">
				<div></div>
				<span><a href="http://daoju.qq.com/lol/item/6050.shtml?ver=new" target="_blank">守护者波比</a></span>
			</div>			
		</div>		
	</div>

</div>
