.content{
	width: 850px;
	margin:0 auto;
}
.content ul.nav li{
	text-align:center;
	background: #fa8801;
	margin-left: 5px;
	color: #ffffff;
	float: left;
	list-style:none; 
	width: 140px;
}
.content ul.nav li:hover{
	background-color: #fa8880;
}
.content ul.nav li.drop1{
	position: relative;
}
.content ul.nav li a{
	color:#ffffff;
	line-height: 40px;
	text-decoration: none;
}
.content ul.nav li.drop1 ul.sub_nav{
	position: absolute;
	margin-top:0;
    margin-left:-47px;
    display: none;  
}
.content ul.nav li.drop1 ul.sub_nav li{
	border:2px solid #ffffff;
}
.content ul.nav li.drop1 ul.sub_nav li.drop2 {
	position: relative;
}
.content ul.nav li.drop1 ul.sub_nav li.drop2 ul.th_level_nav{
	position:absolute;
	margin-left:97px; 
	margin-top:-42px;
	display: none;
}
.content ul.nav li.drop1 ul.sub_nav li.drop2 ul.th_level_nav li{
    border-top:2px solid #ffffff;
    border-left:2px solid #ffffff;
    border-right: 0; 
}



.content ul.nav li.drop1:hover ul.sub_nav{
	display: block;
}
.content ul.nav li.drop1 ul.sub_nav li.drop2:hover ul.th_level_nav{
	display: block;
}