*{margin:0;
  padding:0;
  list-style:none;}

.main{width:668px;
      height:214px;
      margin:50px auto;
      position:relative;
      overflow:hidden;}

.pics{height:180px;
      overflow:hidden;}

.nav{height:32px;
     border:1px solid #ccc;
     font-size:12px;
     font-weight:bold;
    }

.nav li{float:left;
        padding:0px 9px;
        cursor:pointer;
        color:#666;}

.nav li.on{color:#F60;}

.curnav{width:294px;
        height:10px;
        font-size:0;
        background:url(images/notch.png) no-repeat;
        position:absolute;
        left:-105px;
        bottom:34px;
        }